<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- appTitle%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav style="display: flex; gap: 10px;">
      <a href="/characters">Characters List</a>
      <a href="/characters/create-character">Create a Character</a>
    </nav>

    <%- body %>

    <script src="/js/script.js"></script>
  </body>
</html>
